:root {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #f0f0f0;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 600;
    color: #ff5733;
    text-decoration: underline;
  }
  a:hover {
    color: #c70039;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 2.8em;
    line-height: 1.2;
    color: #2e4053;
  }
  
  button {
    border-radius: 4px;
    border: 2px solid transparent;
    padding: 0.8em 1.5em;
    font-size: 1.1em;
    font-weight: 600;
    font-family: inherit;
    background-color: #28a745;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  button:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  button:focus,
  button:focus-visible {
    outline: 3px auto -webkit-focus-ring-color;
  }
  
  table, th, td {
    border: 2px solid #2e4053;
    border-collapse: collapse;
    text-align: left;
  }
  
  td {
    padding: 12px 24px;
  }
  
  button {
    padding: 12px;
  }
  
  #app {
    max-width: 1024px;
    margin: 0 auto;
    padding: 3rem;
    text-align: left;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #17202a;
      background-color: #ffffff;
    }
    a:hover {
      color: #900c3f;
    }
    button {
      background-color: #f1f1f1;
      color: #17202a;
    }
  }
  